<div id="wrapper">
    <app-header></app-header>
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <app-topbar></app-topbar>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->

            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">words</h1>
                <a class="btn btn-sm btn-success pull-right" routerLink="/admin/word/0">+ Words</a>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Action</th>

                                        <th>keyword</th>
                                        <th>replacewith</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let word of words;let i = index;">
                                        <td>
                                            <a class="btn btn-sm btn-primary" routerLink="/admin/word/{{ word._id }}"><i class="fas fa-edit"></i></a>&nbsp;
                                            <button (click)="delete(word._id)" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                                        </td>
                                        <!-- <td>{{ (i + 1) }}</td> -->
                                        <td>{{ word.keyword }}</td>
                                        <td>{{ word.replacewith }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->